############################################################################
# This file is only here for Heroku to know how to deploy the application. #
############################################################################
Django==2.2
django-heroku
bokeh==1.4
pandas==0.25
gunicorn
