{% extends 'project/base.html' %}
{% load static %}

{% block content %}
{{ block.super }}
<header class="grid-container full">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">ProjectTime</div>
    </div>
    <nav id="responsive-menu" class="top-bar" role="navigation" aria-label="main navigation">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">ProjectTime</li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'project:project-list' %}">Projects</a></li>
                <li><a href="{% url 'project:charge-list' %}">Charges</a></li>
                <li><a href="{% url 'admin:index' %}">Administration</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="{% url 'admin:logout' %}">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}
