{% extends 'project/base_nav.html' %}
{% load static %}


{% block title %}ProjectTime | Dashboard{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'project/dashboard.css' %}">
{% endblock %}

{% block content %}
{{ block.super }}
<div class="grid-container fluid margin-top-1">
    {% if timezone_form %}
    <article class="warning callout">
        <p>{{ timezone_form.timezone.help_text }}</p>
        <form data-abide novalidate class="margin-top-1" method="post" action="{% url 'project:set-timezone' %}">
            {% csrf_token %}
            <div class="grid-x grid-margin-x align-bottom">
                <div class="cell medium-6">
                    <label for="{{ field.auto_id }}">
                        {{ timezone_form.timezone.label }}
                        {{ timezone_form.timezone }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <button type="submit" class="button">Submit</button>
                </div>
            </div>
        </form>
    </article>
    {% endif %}

    <div class="grid-x grid-margin-x">
        <section class="cell medium-12 large-7">
            <section class="card">
                <header class="card-divider flex-container flex-dir-row align-middle">
                    <h4 class="margin-0">Active Projects</h4>
                    <div class="flex-child-grow"></div>
                    <a class="margin-left-4 button" href="{% url 'project:project-create' %}">+ Create Project</a>
                </header>
                <div class="card-section padding-0">
                    <div class="table-height table-scroll overflow-y-scroll">
                        <table class="table stack hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Last Charge</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in active_projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'project:project-update' project.pk %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.db_latest_charge }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2">There are no active projects.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="card">
                <header class="card-divider flex-container flex-dir-row align-middle">
                    <h4 class="margin-0">Open Charges</h4>
                    <div class="flex-child-grow"></div>
                    <a class="margin-left-4 button" href="{% url 'project:charge-create' %}">+ Create Charge</a>
                </header>
                <div class="card-section padding-0">
                    <div class="table-height table-scroll overflow-y-scroll">
                        <table class="table stack hover">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Time Charged</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for charge in open_charges %}
                                <tr>
                                    <td>
                                        <a href="{% url 'project:charge-update' charge.pk %}">
                                            {{ charge.project.name }}
                                        </a>
                                    </td>
                                    <td>{{ charge.start_time }}</td>
                                    <td>{{ charge.end_time }}</td>
                                    <td>{{ charge.db_time_charged }}</td>
                                    <td>
                                        {% if charge.start_time and charge.end_time %}
                                        <form method="post" action="{% url 'project:close-charge' charge.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" class="hollow button small margin-0">Close</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">There are no open charges.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <caption class="caption-bottom text-right">Total Time Charged: {{ open_charges.aggregate_time_charged }}</caption>
                        </table>
                    </div>
                </div>
            </section>
        </section>
        <section class="cell medium-12 large-5">
            <section class="card">
                <header class="card-divider flex-container flex-dir-row align-middle">
                    <h4 class="margin-0">Current Month Summary</h4>
                </header>
                <div class="card-section padding-0" style="height: {{ month_summary_chart_height }}px;">
                    {{ month_summary_chart_div | safe }}
                    <script type="text/javascript" src="{% static 'project/vendor/bokeh-2.3.2.min.js' %}"></script>
                    {{ month_summary_chart_script | safe }}
                </div>
            </section>
            <section class="card" style="display:none">
                <header class="card-divider flex-container flex-dir-row align-middle">
                    <h4 class="margin-0">Quick Charge</h4>
                </header>
                <div class="card-section padding-0">
                    <form data-abide novalidate method="post">
                        {% csrf_token %}

                        <label>Project Name
                            <div>
                                <datalist id="project-list">
                                    {% for project in active_projects %}
                                    <option value="{{ project.name }}">
                                        Last Charge: {{ project.db_latest_charge }}
                                    </option>
                                    {% endfor %}
                                </datalist>
                                <input list="project-list" type="input">
                            </div>
                        </label>

                        <label>Date
                            <input type="date">
                        </label>

                        <label>Start Time
                            <input type="time">
                        </label>

                        <label>End Time
                            <input type="time">
                        </label>

                        <input type="checkbox">
                        <label>Closed</label>

                        <div>
                            <button type="submit" class="button">Submit</button>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>
</div>
{% endblock %}
