{% extends 'project/base.html' %}
{% load static %}

{% block title %}ProjectTime | Login{% endblock %}


{% block content %}
{{ block.super }}
<main class="ui center aligned grid mt-4 pt-4">
    <div class="column">
        <h2 class="ui blue header p-4">Log in to ProjectTime</h2>
        <div class="ui left aligned container">
            <form
              class="ui large form {% if form.errors %}error{% endif %}"
              method="post"
              action="{% url 'login' %}">
                {% csrf_token %}

                {% if next %}
                <div class="ui info message">
                    <small style="display: block;">
                    {% if user.is_authenticated %}
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                    {% else %}
                    To see the requested page, you must first log in to the system.
                    {% endif %}
                    </small>
                </div>
                {% endif %}

                <div class="ui error message">
                    {% for error in form.non_field_errors %}
                        <small style="display: block;">{{ error }}</small>
                    {% endfor %}
                </div>
                {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}

                <button type="submit" class="ui large fluid primary submit button">Log In</div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</main>
<style>
    body > .grid {
      height: 100%;
    }
    .column {
      max-width: 450px;
    }
</style>
{% endblock %}
