{% extends 'project/base_nav.html' %}

{% block title %}
    {% if not object %}
    ProjectTime | Create Project
    {% else %}
    ProjectTime | Update Project "{{object.name}}"
    {% endif %}
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="grid-container margin-top-2">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{% url 'project:project-list' %}">Projects</a></li>
                <li><span class="show-for-sr">Current: </span>
                    {% if not object %}
                    Create Project
                    {% else %}
                    Update Project "{{ object.name }}"
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
    <main class="grid-container margin-top-1">
        <h3>
            {% if not object %}
            Create Project
            {% else %}
            Update Project
            {% endif %}
        </h3>
        <p class="lead">A project is associated with charges.</p>
        <div class="card">
            <div class="card-divider">
                <h4>Project Form</h4>
            </div>
            <div class="card-section">
                <form data-abide novalidate method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div data-abide-error class="alert callout">
                            <p>There are some errors in your form.</p>
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {% for field in form %}

                        {% if field.field.widget.input_type == 'checkbox' %}
                            {{ field }}
                            {{ field.label_tag }}
                        {% else %}
                            <label for="{{ field.auto_id }}">
                                {{ field.label }}
                                {{ field }}
                                {% for error in field.errors %}
                                <span class="form-error is-visible">{{ error }}</span>
                                {% endfor %}
                            </label>
                        {% endif %}

                        <p class="help-text">{{ field.help_text }}</p>

                    {% endfor %}
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
