{% extends 'project/base_nav.html' %}

{% block title %}ProjectTime | Projects{% endblock %}
{% block content %}
{{ block.super }}
<main class="grid-container fluid margin-top-1">
    <div class="card">
        <header class="card-divider flex-container flex-dir-row align-middle">
            <h4 class="margin-0">Projects</h4>
            <div class="flex-child-grow"></div>
            <form method="get" class="margin-left-1">
                <div class="input-group margin-0">
                    <input type="search" name="name__icontains" class="input-group-field" placeholder="Search Projects by Name">
                    <div class="input-group-button">
                        <button type="submit" class="button">Go</button>
                    </div>
                </div>
            </form>
            <a class="margin-left-1 button" href="{% url 'project:project-create' %}">Create</a>
        </header>
        <div class="card-section padding-0">
            <div class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Filter</a>
                    <div class="accordion-content" data-tab-content>
                        <form method="get">
                            {{ filter.form.as_p }}
                            <button type="submit" class="button">Filter</button>
                        </form>
                    </div>
                </li>
            </div>
        </div>
        <div class="card-section padding-0">
            {% load render_table from django_tables2 %}
            {% render_table table %}
        </div>
    </div>
</main>
{% endblock %}