{% extends 'project/base_nav.html' %}

{% block title %}ProjectTime | Projects{% endblock %}
{% block content %}
    {{ block.super }}
    <main class="grid-container fluid margin-top-1">
        <div class="card">
            <header class="card-divider flex-container flex-dir-row align-middle">
                <h4 class="margin-0">Project List</h4>
                <div class="flex-child-grow"></div>
                <a class="margin-left-4 button" href="{% url 'project:project-create' %}">+ Create Project</a>
            </header>
            <div class="card-section">
                <nav aria-label="pagination">
                    <ul class="pagination text-center">
                        <li class="pagination-previous {% if not page_obj.has_previous %}disabled{% endif %}">
                            {% if page_obj.has_previous %}
                            <a href="?page=1"> First</a>
                            {% else %}
                            First
                            {% endif %}
                        </li>
                        <li class="pagination-previous {% if not page_obj.has_previous %}disabled{% endif %}">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"> Previous</a>
                            {% else %}
                            Previous
                            {% endif %}
                        </li>
                        <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
                        <li class="pagination-next {% if not page_obj.has_next %}disabled{% endif %}">
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"> Next</a>
                            {% else %}
                            Next
                            {% endif %}
                        </li>
                        <li class="pagination-next {% if not page_obj.has_next %}disabled{% endif %}">
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.paginator.num_pages }}"> Last</a>
                            {% else %}
                            Last
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="card-section padding-0">
                <table class="table stack hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Last Charge</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in page_obj %}
                        <tr>
                            <td>
                                <a href="{% url 'project:project-update' project.pk %}">{{ project.name }}</a>
                            </td>
                            <td>{{ project.active }}</td>
                            <td>{{ project.db__latest_charge }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">There are no projects.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
