{% extends 'project/base_nav.html' %}

{% block title %}ProjectTime | Create Project{% endblock %}
{% block content %}
    {{ block.super }}
    <!-- <div class="ui center aligned grid mt-4 pt-4">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'project:project-list' %}">Projects</a>
                </li>
                <li class="is-active">
                    <a href="{% url 'project:project-create' %}" aria-current="page">Create Project</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <main class="ui center aligned grid mt-4 pt-4">
        <!-- <section class="hero">
            <div class="pl-0 hero-body">
                <p class="title">Create Project</p>
                <p class="subtitle">A project is associated with charges.</p>
            </div>
        </section> -->
        <div class="column">
            <h2 class="ui blue header p-4">Project Form</h2>
            <div class="ui left aligned container">
                <form
                    class="ui large form {% if form.errors %}error{% endif %}"
                    method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="ui error message">
                            {% for error in form.non_field_errors %}
                                <small style="display: block;">{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                    <div class="field {% if field.errors %}error{% endif %}">

                        {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="ui checkbox">
                                {{ field }}
                                {{ field.label_tag }}
                            </div>
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}

                        <small class="pt-1" style="display: block; color: grey">{{ field.help_text }}</small>
                        {% for error in field.errors %}
                            <small class="pt-1" style="display: block; color: red">*{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="ui large fluid primary submit button">Submit</button>
                </form>
            </div>
        </div>
    </main>
    <style>
        body > .grid {
          height: 100%;
        }
        .column {
          max-width: 500px;
        }
    </style>
{% endblock %}
