{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<h1>Monthly Summary</h1>

<form>
    <h2>Select Project(s):</h2>
    {% for project in projects %}
    <div>
        <label for="{{ project.name }}">{{ project.name }}</label>
        <input type="checkbox" name="project" value="{{ project.id }}" {% if project.selected %}checked{% endif %}>
    </div>
    {% endfor %}

    <button type="submit">Filter</button>
</form>

{{ chart_div | safe }}

<script type="text/javascript" src="{% static 'project/vendor/bokeh.min.js' %}"></script>
{{ chart_script | safe }}
{% endblock %}
