{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<style>
    html,
    body {
        height: 100%;
    }
</style>

<h1>Monthly Summary</h1>

<h2>Projects</h2>
<form>
    {% for project in projects %}
    <label for="{{ project.name }}">{{ project.name }}</label>
    <input type="checkbox" name="project" value="{{ project.id }}" {% if project.selected %}checked{% endif %}>
    {% endfor %}

    <button type="submit">Filter</button>
</form>

{{ chart_div | safe }}

<script type="text/javascript" src="{% static 'project/vendor/bokeh.min.js' %}"></script>
{{ chart_script | safe }}
{% endblock %}
